@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-sans-serif;
  background: url(img/mountain.png) no-repeat center center fixed;
  background-size: cover;

}
.main-section{
  
}
